/********************************************************
Data area styles
*********************************************************/

.DataArea {
  height: 500px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 13px;
  font-size: 11px;
  color: #595959;
}

.DataAreaPopup {
  padding-left: 8px;
  padding-top: 6px;
  padding-right: 4px;
  padding-bottom: 8px;
  font-size: 11px;
}

.DataAreaTitle,
.DataAreaTitleNoMenu {
  font-size: 16px;
  color: #7292BB;
	border-bottom: 3px solid #7292BB;
}

.DataAreaContent {
}

.DataAreaContentPopUp {
}

.DataAreaInformation {
  color: #595959;
  padding-right: 6px;
}

.DataAreaVerticalPadder {
  height: 8px;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.DataAreaVerticalPadder2 {
  height: 12px;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.DataAreaVerticalPadderLarge {
  height: 16px;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.DataAreaHorizontalPadder {
  width: 8px;
}

.DataAreaHorizontalPadderLarge {
  width: 16px;
}

.DataAreaLeftPadding {
  padding-left: 8px;
}

.DataAreaServerResponseArea {
  padding-top: 7px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	background-color: #ffffff;
  margin-bottom: 0px;
  margin-top: 0px;
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
}

.DataAreaServerResponseTitle {
  padding-bottom: 4px;
  font-weight: bold;
  font-size: 11px;
  color: #595959;
}

.DataAreaServerResponseInfo {
  color: #595959;
}

.DataAreaServerResponseWarning {
  color: #595959;
}

.DataAreaServerResponseError {
  color: #9b0018;
}

.DataAreaLeftLabel {
  padding-right: 4px;
  padding-left: 4px;
  color: #595959;
  font-weight: bold;
}

.DataAreaTopLabel {
  color: #595959;
  font-weight: bold;
}

.DataAreaField {
  padding-right: 4px;
}

.DataAreaInlineError {
  font-weight: bold;
   color: #ff0000;
}

.DataAreaSendSuccess {
  padding-top: 0;
  padding-bottom: 5px;
  padding-left: 25px;
  font-weight: bold;
  vertical-align: middle;

  background: url(../images/iconOk.gif) no-repeat left top;
}

.DataAreaSendError {
  padding-top: 0;
  padding-left: 25px;
  height: 25px;
  font-weight: bold;
  line-height: 25px;
  vertical-align: middle;

  background-image: url(../images/iconError.gif);
  background-repeat: no-repeat;
  background-position: left;
}

.DataAreaLinkContainer {
}

a.DataAreaLink {
  color: #3f68a3;
  font-weight: normal;
  text-decoration: underline;
}

a.DataAreaLink:visited {
  color: #3f68a3;
  font-weight: normal;
  text-decoration: underline;
}

a.DataAreaLink:active {
  color: #3f68a3;
  font-weight: normal;
  text-decoration: underline;
}

a.DataAreaLink:hover {
  color: #92cd51;
  font-weight: normal;
  text-decoration: underline;
}

.DataAreaExternalContentAside {
}

.DataAreaInnerHeader {
  font-weight: bold;
  font-size: 11px;
  color: #595959;
  padding-bottom: 4px;
}

.DataAreaSeparator {
  height: 1px;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #dddddd;
}

.DataAreaWarning {
  font-weight: bold;
  color: red;
}

.DataAreaHoverBoxBox {
  position: absolute;
  margin: 0;
  padding: 2px;
  display: none;

  min-width: 50px;
  background-color: #7292bb;
  border: 1px solid #dfe7f3;
}

a.DataAreaHoverBoxLink {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

a.DataAreaHoverBoxLink:visited {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

a.DataAreaHoverBoxLink:active {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

a.DataAreaHoverBoxLink:hover {
  color: #ffffff;
  font-weight: bold;
  text-decoration: underline;
}
