/*********************************************************************
DatePicker
**********************************************************************/
.PickerDiv
{
 position: relative;
 height:0px;
 width:0px;
 margin:0;
 padding:0px;
 display: none;
}

.DatePickerTable
{
  position: absolute;
  border:solid 1px #999999;
  white-space: nowrap;
}

.DatePickerTable td
{
  font-size:11px;
}
.DatePickerHead
{
  background-color: #ffffff;
}
.DatePickerBody
{
  background-color: #ffffff;
}

.DatePickerFoot
{
  background-color: #ffffff;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  border-top: 1px solid #999999;
}
a.DatePickerFootLink
{
  text-decoration:none;
  border:none;
  color: #595959;
}

.DatePickerHeadEntryDate
{
	text-align: center;
	width: 100%;
	color: #ffffff;
	font-weight: bold;
	padding-top: 2px;
	padding-bottom: 2px;
}

.DatePickerDayEntry
{
  text-align: right;
}

.DatePickerDayEntry .Werktag   { color:#3f68a3; }
.DatePickerDayEntry .Sonntag   { color:#ff0000; }
.DatePickerDayEntry .FeiertagA { color:#EE0000; }
.DatePickerDayEntry .FeiertagB { color:#EE0000; }
.DatePickerDayEntry .currentSelection { font-weight: bold; background-color: #7292bb; color: white;}


.DatePickerDayEntry a:hover
{
  background-color: #7292bb;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  padding: 0;
  margin: 0;
}

.DatePickerDayEntry a:hover #highlight
{
  color: #ffffff;
}


.DatePickerDayEntryWeekend
{
	background-color: #dfe7f3;
}

.DatePickerDayEntryLink
{
  border: 0;
  padding: 0;
  margin: 0;

  text-decoration:none;
  color:#000000;
  text-align: right;

  display: block;
  position:relative;
  left:0;
  top:0;
  width: 24px;
  height: 19px;
}

.DatePickerYearCombo
{
  width: 50px;
}

.DatePickerMonthCombo
{
  width: 78px;
}

.DatePickerDayEntryLink .DatePickerDayEntrySpan
{
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  right:5px;
  top:2px;

  width:19px;
  height:17px;
}

.DatePickerDayEntryLink #highlight
{
	font-weight: bold;
	color: #ff0000;
}

.DatePickerBodyHead
{
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid #999999;
	border-top: 1px solid #999999;
}
