/********************************************************
Form styles (input forms)
*********************************************************/

.FormAreaInnerHeader {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 8px;
}

.FormArea {
}

.FormTopLeft {
}

.FormTopCenter {
}

.FormTopRight {
}

.FormLeftMiddle {
}

.FormCenter {
}

.FormRightMiddle {
}

.FormBottomLeft {
}

.FormBottomCenter {
}

.FormBottomRight {
}

.FormAreaVerticalPadder {
  height: 8px;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.FormAreaVerticalPadderMedium {
  height: 14px;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.FormAreaHorizontalPadderSmall {
  width: 3px;
}

.FormAreaHorizontalPadder {
  width: 6px;
}

.FormAreaHorizontalPadderMedium {
  width: 12px;
}

.FormAreaHorizontalSeparator {
  height: 1px;
  background-color: #d8d2dd;
  overflow: hidden;
}

.FormAreaHorizontalPadderLarge {
  width: 18px;
}

.FormAreaLeftPadding {
  padding-left: 6px;
}

.FormAreaInputFieldTopLabel {
  font-size: 11px;
  font-weight: bold;
  white-space: nowrap;
}

.FormAreaInputFieldLeftLabel {
  font-size: 11px;
  padding-right: 8px;
  white-space: nowrap;
  font-weight: bold;
}

.FormAreaTextInputField {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 11px;
  height: 17px;
  background-color: #ffffff;
  color: #595959;
  border: 1px solid #3f68a3;
  white-space: nowrap;
  padding-left: 3px;
}

.FormAreaTextInputFieldDisabled {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 11px;
  height: 17px;
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  color: #d0d0d0;
  white-space: nowrap;
  padding-left: 3px;
}

.FormAreaMemoInputField {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 11px;
  background-color: #ffffff;
  color: #595959;
  border: 1px solid #3f68a3;
}

.FormAreaMemoInputFieldDisabled {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 11px;
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  color: #d0d0d0;
}

.FormAreaFileInputField {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 11px;
  height: 17px;
  background-color: #ffffff;
  color: #595959;
  border: 1px solid #3f68a3;
  white-space: nowrap;
}

.FormAreaFileInputFieldDisabled {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 11px;
  height: 17px;
  background-color: #ffffff;
  border: 1px solid #d0d0d0;
  color: #d0d0d0;
  white-space: nowrap;
}

.FormAreaComboBox {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 11px;
  height: 17px;
  background-color: #ffffff;
  color: #595959;
  border: 1px solid #999999;
  white-space: nowrap;
}

.FormAreaEditableComboBoxDisabled {
  border: 1px solid #d0d0d0;
  background-color: #ffffff;
  color: #d0d0d0;
}

.FormAreaEditableComboBoxDisabled input {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 11px;
  height: 15px;
  background-color: #ffffff;
  color: #d0d0d0;
  white-space: nowrap;
}

.FormAreaEditableComboBox {
  background-color: #ffffff;
  border: 1px solid #3f68a3;
}

.FormAreaEditableComboBoxInput {
  font-family: Arial, sans-serif;
  font-size: 11px;
  height: 15px;
  background-color: #ffffff;
  color: #595959;
  white-space: nowrap;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  padding-left: 3px;
}

.FormAreaEditableComboboxDropDownImage {
  background-image: url(../images/iconArrowDown.gif);
  background-position: center center;
  border-left: 1px solid #3f68a3;
  width: 17px;
  height: 17px;
}

.FormAreaEditableComboboxDisabledDropDownImage {
  background-image: url(../images/iconArrowDownDisabled.gif);
  background-position: center center;
  border-left: 1px solid #d0d0d0;
  width: 17px;
  height: 17px;
}

.ComboEditFieldDiv {
  position: absolute;
  border-bottom: 1px solid #e4ddd6;
  border-right: 1px solid #e4ddd6;
  border-top: 1px solid #c0b0a3;
  border-left: 1px solid #c0b0a3;
  background-color: #FFFFFF;
  margin: 0;
  visibility: hidden;
  z-index: 10;
  display: block;
}

.ComboEditFieldSelectionTable {
  background-color: #ffffff;
  margin: 1px;
  border: 0;
  cursor: default;
  border-collapse: collapse;
  width: 1px;
}

.FormAreaEditableComboEditFieldSelection {
  background-color: #ffffff;
  white-space: nowrap;
  display: table-row;
  width: 100%;
}

.FormAreaEditableComboEditFieldSelection td span {
  display: block;
  background-color: #ffffff;
  padding: 1px 1px 1px 3px;
  margin: 1px 1px 0 0;
  white-space: nowrap;
  font-weight: normal;
}

.FormAreaEditableComboEditFieldSelectionHover td span {
  display: block;
  background-color: #7292bb;
  color: #ffffff;
  padding: 1px 1px 1px 3px;
  margin: 1px 1px 0 0;
  white-space: nowrap;
  font-weight: normal;
}

.FormAreaComboBoxDisabled {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 11px;
  height: 19px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #e4ddd6;
  border-right: 1px solid #e4ddd6;
  border-top: 1px solid #c0b0a3;
  border-left: 1px solid #c0b0a3;
  color: #606060;
  white-space: nowrap;
}

.FormAreaCheckbox {
  white-space: nowrap;
}

.FormAreaCheckboxDisabled {
  white-space: nowrap;
}

.FormAreaRadio {
  margin-right: 3px;
}

.FormAreaRadioDisabled {
  margin-right: 3px;
}

.FormAreaFieldTopLabel {
  white-space: nowrap;
  font-weight: bold;
}

.FormAreaFieldLeftLabel {
  white-space: nowrap;
  font-weight: bold;
}

.FormAreaField {
  white-space: nowrap;
  height: 19px;
}

.FormAreaImportantField {
  font-weight: bold;
}

.FormValidationErrorArea {
  padding-left: 14px;
  background-image: url(../images/formErrorLeftDivider.gif);

  background-position: 8px 0;
  background-repeat: repeat-y;

  width: 200px;
}

.FormValidationError {
  color: #606060;
  padding-top: 4px;
  padding-left: 4px;
  padding-bottom: 4px;
}

.FormAreaSeparator {
  height: 2px;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #A0A0A0;
}

a.FormAreaLink {
  color: #003082;
  font-weight: normal;
  text-decoration: underline;
}

a.FormAreaLink:visited {
  color: #003082;
  font-weight: normal;
  text-decoration: underline;
}

a.FormAreaLink:active {
  color: #003082;
  font-weight: normal;
  text-decoration: underline;
}

a.FormAreaLink:hover {
  color: #003082;
  font-weight: normal;
  text-decoration: underline;
}

.FormAreaHeader {
  font-weight: bold;
  padding-bottom: 8px;
  color: #595959;
}

.FormAreaMiddle {
  vertical-align: middle;
}

/*
 * Used for displaying forms having full width. */
.MaxFormClientWidth {
  width: 746px;
}

/* Label for show currency description */
.FormAreaCurrencyCombobox {
  font-size: 11px;
  font-weight: bold;
}

.InlineError {
  color: #ff0000;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
}

.InlineWarning {
  color: #ff8900;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;
}

.FormAreaNoticeSuccess {
  color: #595959;
  padding-right: 6px;
}

.FormAreaNoticeFailure {
  color: #595959;
  padding-right: 6px;
}

