/********************************************************

Menu styles (lefthand menu)

*********************************************************/

.MenueHeaderImage {
  padding-top: 10px;
	padding-bottom: 28px;
}

.Menu {
    width: 196px;
    border: 1px solid #ededed;
}

.MenuLogout {
    width: 186px;
		padding-left:10px;
}

.MenuItemFirstLevelArea {
    width: 196px;
    line-height: 25px;
    background: url('../images/bg-nav-li.gif') repeat-x scroll 0 0 transparent;
}

.MenuItemFirstLevelAreaSelected {
  width: 196px;
  line-height: 25px;
  background: url('../images/bg-nav-li-on.gif') repeat-x scroll 0 0 transparent;
}

.MenuItemFirstLevelAreaMouseOver {
    width: 196px;
    line-height: 25px;
    background: url('../images/bg-nav-li-on.gif') repeat-x scroll 0 0 transparent;
}

.MenuItemFirstLevel {
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
  padding-left: 25px;
  background: url('../images/arr.gif') transparent;
  background-position: 10px 50%;
  background-repeat: no-repeat;
  font-size: 12px;
  color: #000000;
	border-bottom: 1px solid #ededed;
}

.MenuItemFirstLevelMouseOver {
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
    padding-left: 25px;
    background: url('../images/arr-down.gif') transparent;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    font-size: 12px;
    color: #ffffff;
}

.MenuItemFirstLevelAreaSelected .MenuItemFirstLevel,
.MenuItemFirstLevelAreaSelected .MenuItemFirstLevelMouseOver {
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
    padding-left: 25px;
    background: url('../images/arr-down.gif') transparent;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    font-size: 12px;
    color: #ffffff;
}

.MenuItemFirstLevelAreaMouseOver .MenuItemFirstLevel,
.MenuItemFirstLevelAreaMouseOver .MenuItemFirstLevelMouseOver {
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
    padding-left: 25px;
    background: url('../images/arr-down.gif') transparent;
    background-position: 10px 50%;
    background-repeat: no-repeat;
    font-size: 12px;
    color: #ffffff;
}

.MenuItemFirstLevelAreaLogout {
    width: 196px;
    line-height: 25px;
    background: url('../images/bg-nav-li.gif') repeat-x scroll 0 0 transparent;
}

.MenuItemFirstLevelAreaLogoutMouseOver {
    width: 196px;
    line-height: 25px;
    background: url('../images/bg-nav-li-on.gif') repeat-x scroll 0 0 transparent;
}

.MenuItemFirstLevelLogout {
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
  padding-left: 25px;
  font-size: 12px;
  color: #ff0000;
}

.MenuSecondLevelBox {
    padding-top: 7px;
    padding-right: 24px;
    padding-bottom: 7px;
    padding-left: 25px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border-bottom: 1px solid #ededed;
}

.MenuItemSecondLevel {
  cursor: pointer;
  color: #3f68a3;
  text-decoration: underline;
	line-height: 20px;
}

.MenuItemSecondLevelMouseOver {
  cursor: pointer;
  color: #92cd51;
  text-decoration: underline;
	line-height: 20px;
}

.MenuItemSecondLevelSelected,
.MenuItemSecondLevelSelectedMouseOver {
  cursor: pointer;
  color: #000000;
  font-size: 11px;
  font-weight: normal;
	line-height: 20px;
}

.MenuItemThirdLevel {
  cursor: pointer;
  color: #3f68a3;
  font-size: 11px;
  text-decoration: underline;
  margin-left: 4px;
  padding-left: 10px;
  background: transparent url(../images/thirdLevelMenuItemBG.png) no-repeat left top;
	line-height: 24px;
}

.MenuItemThirdLevelMouseOver {
  cursor: pointer;
  color: #92cd51;
  font-size: 11px;
  text-decoration: underline;
  margin-left: 4px;
  padding-left: 10px;
  background: transparent url(../images/thirdLevelMenuItemBG.png) no-repeat left top;
	line-height: 24px;
}

.MenuItemThirdLevelSelected,
.MenuItemThirdLevelSelectedMouseOver {
  cursor: pointer;
  color: #000000;
  font-size: 11px;
  font-weight: normal;
  margin-left: 4px;
  padding-left: 10px;
  background: transparent url(../images/thirdLevelMenuItemBG.png) no-repeat left top;
	line-height: 24px;
}

/********************************************************

Menu styles ("inline popup" menu)

*********************************************************/

.HoverMenuBox {
  position: absolute;
  margin: 0;
  padding: 3px;
  display: none;

  min-width: 50px;
  background-color: #7292bb;
  border: 1px solid #dfe7f3;
}

a.HoverMenuLink {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

a.HoverMenuLink:visited {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

a.HoverMenuLink:active {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}

a.HoverMenuLink:hover {
  color: #ffffff;
  text-decoration: underline;
  font-weight: bold;
}

/********************************************************

Menu styles (tab menu)

*********************************************************/

.TabMenu {
  width: 100%;
  empty-cells: show;
  font-size: 11px;
  font-weight: bold;
}

.TabMenuItem {
  width: 150px;
  padding: 5px;
  border: 1px solid #003082;
  cursor: pointer;
  color: #003082;
  text-align: center;
}

td.TabMenuItem:hover {
  text-decoration: underline;
}

.TabMenuItemSelected {
  width: 150px;
  padding: 5px;
  background-color: #7292bb;
  border: 1px solid #dfe7f3;
  color: #ffffff;
  text-align: center;
}

.TabMenuItemEmpty {
  padding: 5px;
  border-bottom: 1px solid #003082;
}

a.TabMenuLink {
  color: #003082;
  text-decoration: none;
  font-weight: bold;
}

a.TabMenuLink:visited {
  color: #003082;
  font-weight: bold;
  text-decoration: none;
}

a.TabMenuLink:active {
  color: #003082;
  font-weight: bold;
  text-decoration: none;
}

a.TabMenuLink:hover {
  color: #003082;
  font-weight: bold;
  text-decoration: underline;
}
