/********************************************************************************
 * css classes for visual swift configuration for corporates (simplified) (TAGs)
 ********************************************************************************/

 /*only to have a selektor to set css-classes for otional fields*/
.SwiftSelektorClass {}
 
.SwiftSelektorClass .FormAreaEditableComboBox {
  background-color: #ffffff;
  border: 1px solid #999999;
}

.SwiftSelektorClass .FormAreaEditableComboboxDropDownImage {
  background-image: url(../images/iconArrowDownOptional.gif);
  background-position: center center;
  border-left: 1px solid #999999;
  width: 17px;
  height: 17px;
}

.SwiftSelektorClass .FormAreaComboBox {
  background-color: #ffffff;
  border: 1px solid #999999;
}

.SwiftSelektorClass .FormAreaFileInputField {
  background-color: #ffffff;
  border: 1px solid #999999;
}

.SwiftSelektorClass .FormAreaMemoInputField {
  background-color: #ffffff;
	border: 1px solid #999999;
}

.SwiftSelektorClass .FormAreaTextInputField {
  background-color: #ffffff;
  border: 1px solid #999999;
}

.SwiftSelektorClass .SwiftTagCorproatesInputFieldMandatory
{
  border: 1px solid #3f68a3;
}

.SwiftSelektorClass .SwiftTagCorproatesInputFieldMandatory .FormAreaEditableComboboxDropDownImage {
  background-image: url(../images/iconArrowDown.gif);
  background-position: center center;
  border-left: 1px solid #3f68a3;
  width: 17px;
  height: 17px;
}

/* Mark mandatory input fields.
.SwiftTagCorproatesInputFieldMandatory
{
  border: 1px solid #3f68a3;
}
*/ 

/* Separator between tags. */
.SwiftTagCorproatesSeparator
{
  height: 1px;
  background-color: #dddddd;
}
 
/* The container surounds the whole tag. */
.SwiftTagCorproatesContainer
{
  padding-top: 5px;
  min-height: 29px;
}

/* Even-odd-style for different background colors. */
.SwiftBlockEven
{
  background-color: #ffffff;
}

/* Even-odd-style for different background colors. */
.SwiftBlockOdd
{
  background-color: #ffffff;
}

/* The single line in the tag. */
.SwiftTagCorproatesLine
{
}

/* The column for the visibility switch. */
.SwiftTagCorproatesVisibilitySwitch
{
  width: 15px;
  
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Workaround (Firefox) for the visibility switch image. */
.SwiftTagCorproatesVisibilitySwitchIcon
{
  width: 9px;
  height: 9px;
}

/* The column for the caption. */
.SwiftTagCorproatesCaption
{
  width: 170px;
  padding-top: 3px;
  padding-bottom: 5px;
  
  vertical-align: top;
  font-size: 11px;
  font-weight: bold;
}

/* The column for the caption of input fields. */
.SwiftTagCorproatesCaptionInputField
{
  width: 150px;
  padding-left: 20px;
  padding-bottom: 5px;
  
  vertical-align: top;
  font-size: 11px;
}

/* The column for the id and option. */
.SwiftTagCorproatesOption
{
  width: 80px;
  padding-bottom: 5px;
  
  vertical-align: top;
}

/* The column for the id and option. */
.SwiftTagCorproatesOptionCombobox
{
  padding-left: 5px;
}

/* The column for the id without option. */
.SwiftTagCorproatesNoOption
{
  width: 80px;
  padding-top: 3px;
  padding-bottom: 5px;
  
  vertical-align: top;
}

/* The column for the input fields. */
.SwiftTagCorproatesInputField
{
  width: 285px;
  padding-bottom: 5px;
  
  vertical-align: top;
}

/* Mark input fields with error. */
.SwiftSelektorClass .SwiftTagCorproatesInputFieldError
{
  border: 1px solid #ff0000;
}

/* Mark input fields with warning. */
.SwiftSelektorClass .SwiftTagCorproatesInputFieldWarning
{
  border: 1px solid #ff8900;
}

/* The box with format hints for input fields. */
.SwiftTagCorproatesInputFieldFormatHint
{
  padding: 2px;
  background-color: #dfe7f3;
  border: 1px solid #ededed;
}

/* The box with input informations for input fields (e.g. comboboxes with codes). */
.SwiftTagCorproatesInputFieldInformationBox
{
  width: 300px;
  padding: 5px;
  background-color: #dfe7f3;
  border: 1px solid #ededed;
}

/* The column for the validation errors. */
.SwiftTagCorproatesValidationError
{
  width: 120px;
  padding-top: 2px;
  padding-bottom: 5px;
  
  vertical-align: top;
}

/* Additional attributes when tag is in mode 'hidden' */
.SwiftTagCorproatesHidden
{
}

/* Label for show currency description */
.SwiftTagCorproatesCurrencyCombobox
{
  font-size: 11px;
  font-weight: bold;
}

