.VTBWidth {
  width: 100%;
  min-width: 1024px;
}

.VTBContent {
  width: 100%;
}

.VTBLeftPadding {
  width: 10px;
  height: 100%;
}

.VTBLeft {
  width: 198px;
  padding-right: 10px;
  height: 100%;
  vertical-align: top;
}

.VTBData {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

.VTBDataLogout {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
  height: 500px;
}

.VTBDataInnerArea {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border: 1px solid #ededed
}

.VTBRight {
  width: 137px;
  height: 100%;
  padding-left: 10px;
  padding-top: 10px;
  vertical-align: top;
}

.VTBRightPadding {
  width: 10px;
}

.HeaderLogo {
  position: absolute;
  left: 158px;
  top: 47px;
}

.HeaderTopAreaLogout {
  height: 242px;
  background-image: url(vtb_headerAreaImageLogout.png);
  background-repeat: no-repeat;
  background-color: #3f68a3;
}

.HeaderAreaLogoutLanguageLinks {
  position: absolute;
  top: 0px;
  right: 15px;
  padding: 3px 20px 3px 20px;
  text-align: right;
  background-color: #ffffff;
}

.HeaderAreaLogoutLanguageLinks a.DataAreaLink,
.HeaderAreaLogoutLanguageLinks a.DataAreaLink:visited,
.HeaderAreaLogoutLanguageLinks a.DataAreaLink:active  {
  color: #3f68a3;
  font-weight: normal;
  text-decoration: none;
  font-size: 10px;
}

.HeaderAreaLogoutLanguageLinks a.DataAreaLink:hover {
  color: #92cd51;
  font-weight: normal;
  text-decoration: none;
  font-size: 10px;
}

.HeaderBottomAreaLogout {
  height: 15px;
}

.HeaderTopArea {
  height: 69px;
  background-image: url(../images/vtb_headerAreaTopBackground.png);
  background-repeat: repeat-x;
}

.HeaderBottomArea {
  height: 59px;
}

.HeaderBottomLanguageLinks {
  padding-top: 20px;
  padding-right: 105px;
  text-align: right;
}

.CMSDataLeft {
  padding-top: 15px;
}

.CMSDataRight {
  padding-top: 15px;
}

.CMSDataTop {
  padding-bottom: 20px;
}

.CMSDataBottom {
  padding-top: 15px;
}

.CMSData .Title {
  font-size: 12px;
  font-weight: bold;
  color: #595959;
}

.CMSData .Link {
  display: block;
}

.Subtitle {
  font-size: 12px;
  font-weight: bold;
  color: #595959;
  padding-bottom: 9px;
}

.CarerInfoText {
  color:#3f68a3;
}

.FilterArea {
  background-color: #dfe7f3;
  padding: 10px;
}